<section class="slider">
    <div class="slider__container bd-container">
        <app-slideshow [articulos]="articulos | slice:0-3" ></app-slideshow>
    </div>
</section>

<section class="articulos bd-container">
    <div class="articulos__container">
        <div *ngFor="let articulo of articulos" class="acticulos__content">
            <div class="articulos__foto">
                <img [src]="articulo.urlToImage" [alt]="articulo.title">
            </div>
            <div class="articulos__desc">
                <h3 class="articulos__title">{{ articulo.title }}</h3>
                <div class="articulos__data">
                    <span class="articulos__fecha">{{ articulo.publishedAt | date }}</span>
                    <span class="articulos__autor">{{ articulo.author | slice:1-20 }}</span>
                    <span class="articulos__source">{{ articulo.source.name }}</span>
                </div>
                <p class="articulos__intro">{{ articulo.description }}</p>
                <a [href]="articulo.url" target="_black" class="articulos__ver">Ver más<i class='bx bx-right-arrow-alt'></i></a>
            </div>
        </div>
    </div>
</section>
