/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
h1,h2, h3, p{
    margin: 0;
}
.bd-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 2rem;
}